* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none; }

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif; }

body {
  font-size: 1.6rem;
  color: #231f20;
  min-height: 100vh; }

.clearfix::after {
  display: table;
  content: "";
  clear: both; }

.container {
  padding: 2rem 3rem; }

@media only screen and (max-width: 500px) {
  .container {
    padding: 1rem 0.5rem; } }

.d-none {
  display: none !important; }

.u-center {
  text-align: center; }

.full {
  width: 100%; }

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
    mask-position: 150%; }
  to {
    -webkit-mask-position: -50%;
    mask-position: -50%; } }

@keyframes goUp {
  from {
    opacity: 0.3;
    transform: translateY(5rem); }
  80% {
    opacity: 1;
    transform: translateY(-1rem); }
  to {
    transform: translateY(0); } }

.header {
  width: 100%;
  background-color: #370697;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5rem; }
  .header__logo {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    transition: 0.3s; }
    .header__logo:hover {
      -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
      -webkit-mask-size: 200%;
      animation: shine 2s infinite;
      mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
      mask-size: 200%;
      animation: shine 2s infinite; }
  .header__links {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-left: 5rem; }
    .header__links-link {
      border: none;
      cursor: pointer;
      color: white;
      padding: 3rem 3rem;
      font-size: 1.8rem;
      transition: all 0.3s;
      background: transparent; }
      .header__links-link:hover {
        background-color: rgba(255, 255, 255, 0.25); }

.btn {
  color: white;
  padding: 1rem 3rem;
  transition: 0.4s;
  padding: 1rem 3.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6rem; }
  .btn:hover {
    background-position: 100%; }
  .btn-delete {
    background: linear-gradient(to right, #c31432, #331846, #c31432);
    background-size: 200%; }
  .btn-main {
    background: linear-gradient(to right, #8e2de2, #4a00e0, #8e2de2);
    background-size: 200%; }
  .btn-link {
    color: #370697;
    border: 2px solid #370697;
    border-radius: 4px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 1rem; }
    .btn-link:hover {
      background-color: #370697;
      color: white; }

.h {
  font-size: 5rem;
  text-transform: uppercase;
  color: #370697;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 15px;
  margin: 2rem 0; }
  .h-center {
    text-align: center; }
  .h-error {
    color: #b10361; }

.p-note {
  color: #aaa;
  font-size: 1.7rem;
  text-transform: uppercase; }

.form-body {
  background: #414042; }
  .form-body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #bcbec0;
    clip-path: polygon(100% 45%, 100% 100%, 0 100%, 0 70%);
    z-index: -1; }

.form {
  background-color: white;
  width: 300px;
  max-width: 70%;
  border-radius: 10px;
  box-shadow: 2px 2px 0 2px rgba(255, 255, 255, 0.3);
  margin: 10rem auto;
  text-align: center;
  padding: 2rem 2rem; }
  .form-box {
    margin-bottom: 2rem; }
  .form__input {
    border: 1px solid #370697;
    width: 100%;
    height: 30px;
    padding: 10px;
    border-radius: 4px; }
  .form__error {
    color: #b10361;
    text-align: left;
    margin-top: 3px; }
  .form__label {
    text-align: left;
    display: block;
    color: #370697;
    margin-bottom: 3px; }

.h-form {
  color: white; }

.stream {
  margin: 2rem 1rem;
  padding: 1.5rem 2rem;
  box-shadow: 2px 1px 2rem rgba(0, 10, 10, 0.4);
  position: relative;
  border-radius: 4px;
  transition: 0.4s;
  display: flex;
  justify-content: space-between; }
  .stream__left {
    position: relative;
    z-index: -2; }
  .stream__right {
    position: relative;
    text-align: right;
    z-index: 0;
    width: 25rem;
    pointer-events: none; }
  .stream__actions {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%); }
  .stream__action {
    padding: 1rem 2rem;
    z-index: 10;
    border: none;
    transition: 0.6s;
    border-radius: 4px;
    font-size: 1.8rem;
    transition: 0.6s;
    margin: 0 1rem;
    cursor: pointer;
    pointer-events: all; }
    .stream__action:hover {
      background-position: 100%; }
    .stream__action-edit {
      background: linear-gradient(to right, #8e2de2, #4a00e0, #8e2de2);
      color: white;
      background-size: 200%;
      padding: 1rem 3rem; }
    .stream__action-delete {
      background: linear-gradient(to right, #c31432, #331846, #c31432);
      color: white;
      background-size: 200%; }
  .stream__title {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
    color: #370697; }
  .stream__description {
    color: #231f20; }
  .stream:hover {
    transform: translateY(-0.5rem); }

.invisi-link {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: inherit; }

.delete-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center; }

.delete {
  background-color: white;
  width: 400px;
  max-width: 95%;
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 2rem rgba(55, 6, 151, 0.4);
  animation: goUp 0.9s; }
  .delete__msg {
    margin-bottom: 5rem;
    color: #370697;
    font-size: 2.2rem;
    text-transform: uppercase; }
  .delete__actions {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }

@media only screen and (max-width: 700px) {
  html {
    font-size: 50%; }
  .header__links {
    padding: 1.5rem; }
  .stream__action {
    padding: 1rem 2rem; }
  .stream__right {
    width: 30rem; } }

@media only screen and (max-width: 500px) {
  html {
    font-size: 40%; }
  .stream__right {
    width: 35rem; } }
