* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none; }

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif; }

body {
  font-size: 1.6rem;
  color: #231f20; }

.clearfix::after {
  display: table;
  content: "";
  clear: both; }

.container {
  padding: 2rem 3rem; }

@media only screen and (max-width: 500px) {
  .container {
    padding: 1rem 0.5rem; } }

.d-none {
  display: none; }

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
    mask-position: 150%; }
  to {
    -webkit-mask-position: -50%;
    mask-position: -50%; } }

.header {
  width: 100%;
  background-color: #370697;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5rem; }
  .header__logo {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    transition: 0.3s; }
    .header__logo:hover {
      -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
      -webkit-mask-size: 200%;
      animation: shine 2s infinite;
      mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
      mask-size: 200%;
      animation: shine 2s infinite; }
  .header__links {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-left: 5rem; }
    .header__links-link {
      border: none;
      cursor: pointer;
      color: white;
      padding: 3rem 3rem;
      font-size: 1.8rem;
      transition: all 0.3s;
      background: transparent; }
      .header__links-link:hover {
        background-color: rgba(255, 255, 255, 0.25); }

.btn {
  padding: 15px 30px;
  border: none;
  background: transparent;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer; }
  .btn-main {
    border: 2px solid #370697;
    transition: 0.4s;
    position: relative; }
    .btn-main::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #370697;
      clip-path: inset(100% 0 100% 0);
      transition: 0.4s; }
    .btn-main:hover {
      color: white; }
    .btn-main:hover::after {
      clip-path: inset(0); }

.stream {
  margin: 2rem 1rem;
  padding: 1.5rem 2rem;
  box-shadow: 2px 1px 2rem rgba(0, 10, 10, 0.4);
  position: relative;
  border-radius: 4px;
  transition: 0.4s;
  display: flex;
  justify-content: space-between; }
  .stream__left {
    position: relative;
    z-index: -2; }
  .stream__right {
    position: relative;
    text-align: right;
    z-index: 1;
    width: 25rem; }
  .stream__actions {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%); }
  .stream__action {
    padding: 1rem 2rem;
    z-index: 10;
    border: none;
    transition: 0.6s;
    border-radius: 4px;
    font-size: 1.8rem;
    transition: 0.6s;
    margin: 0 1rem;
    cursor: pointer; }
    .stream__action:hover {
      background-position: 100%; }
    .stream__action-edit {
      background: linear-gradient(to right, #8e2de2, #4a00e0, #8e2de2);
      color: white;
      background-size: 200%;
      padding: 1rem 3rem; }
    .stream__action-delete {
      background: linear-gradient(to right, #c31432, #331846, #c31432);
      color: white;
      background-size: 200%; }
  .stream__title {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
    color: #370697; }
  .stream__description {
    color: #231f20; }
  .stream:hover {
    transform: translateY(-0.5rem); }

.invisi-link {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: inherit; }

@media only screen and (max-width: 700px) {
  html {
    font-size: 50%; }
  .header__links {
    padding: 1.5rem; }
  .stream__action {
    padding: 1rem 2rem; } }

@media only screen and (max-width: 500px) {
  html {
    font-size: 40%; } }
