.form-body {
  background-color: $light-color;
}
.form {
  background-color: $white;
  width: 300px;
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 2 2px 0 2px rgba($white, 0.3);
  margin: 10rem auto;
  text-align: center;
  padding: 2rem 2rem;
  &-box {
    margin-bottom: 2rem;
  }
  &__input {
    border: 1px solid $main-color;
    width: 100%;
    height: 3rem;
    padding: 1rem;
    border-radius: 4px;
  }
  &__error {
    color: $red;
    text-align: left;
    margin-top: 3px;
  }
  &__label {
    text-align: left;
    display: block;
    color: $main-color;
    margin-bottom: 3px;
  }
}

.h-form {
  color: $white;
}
