.h {
  font-size: 5rem;
  text-transform: uppercase;
  color: $main-color;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 15px;
  margin: 2rem 0;
  &-center {
    text-align: center;
  }
  &-error {
    color: $red;
  }
  &-title {
    font-size: 3rem;
    text-transform: capitalize;
    word-spacing: 0;
  }
}
.p {
  font-size: 1.7rem;
  line-height: 1.4;
  max-width: 600px;
  &-note {
    color: #aaa;
    text-transform: uppercase;
  }
}
