* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  font-size: 1.6rem;
  color: $black;
  min-height: 100vh;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
.container {
  padding: 2rem 3rem;
}

@media only screen and(max-width: 500px) {
  .container {
    padding: 1rem 0.5rem;
  }
}
.d-none {
  display: none !important;
}
.u-center {
  text-align: center;
}
